Approximately 1.8 billion people are adherants to the religion of Islam, referring to themselves as Muslims, but there is probably more misinformation than truth known about this faith here in the West. Muslims refer back to two main bodies of texts, the Qur'an and the Hadith. While most know that the Qur'an is to the Muslims what the Torah is to the Jews and what the Bible is to Christians, fewer people know about the Hadith. The Encyclopedia Britannica defines Hadith as a "record of the traditions or sayings of the Prophet Muhammad, revered and received as a major source of religious law and moral guidance, second only to the authority of the Qurʾān, the holy book of Islam." Can we determine who are the main players in conributing to the preservation of these traditions?

We are working with a dataset called Hadith Narrators Dataset, found on Kaggle. The content creator mentions that he scraped the data from muslimscholars.info that provide all cross-validated metadata about each scholar from more than 10 primary sources (check their website to learn more).

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
%matplotlib inline

# Set up the data
df = pd.read_csv('all_rawis.csv')

# What's inside the file? Let's take a preview.
print(df.head())

   scholar_indx                                               name  \
0             1  Prophet Muhammad(saw) ( محمّد صلّی اللہ علیہ و...
1             2  Abu Bakr As-Siddique ( أبو بكر الصديق ( رضي ال...
2             3  'Umar ibn al-Khattab ( عمر بن الخطاب بن نفيل (...
3             4  'Uthman ibn 'Affaan ( عثمان بن عفان ( رضي الله...
4             5  Ali ibn Abi Talib ( علي بن أبي طالب بن عبد الم...

                        grade  \
0                Rasool Allah
1  Comp.(RA) [1st Generation]
2  Comp.(RA) [1st Generation]
3  Comp.(RA) [1st Generation]
4  Comp.(RA) [1st Generation]

                                             parents  \
0  'Abdullah ibn 'Abd al-Muttalib [9991] / Amina ...
1  Abu Quhafa Uthman bin 'Amir [500] / Salma Umm-...
2  Khattab ibn Nufayl / Hantamah bint Hisham Makh...
3  'Affan ibn Abi al-'As / Arwa bint Kuraiz bin R...
4  Abu Talib ibn 'Abd al-Muttalib [9992] / Fatima...

                                              spouse  \
0  Khadijah [51] , Sawda bint Zam'a [52] , 'Aisha...
1  Qutaylah bint Abdul-'Uzza, Umm Ruman [91] , As...
2  Zaynab bint Maz'un [124] , Umm Kulthum bint 'A...
3  Ruqayyah bint Muhammad [102] , Umm Kulthum bin...
4  Fatima bint Muhammad [63] , Khawlah bint Ja'fa...

                                            siblings  \
0                                                NaN
1                   Quafah ibn Uthman, Mu'taq, Utaiq
2  Zayd ibn al-Khattab [114] , Fatima bint al-Kha...
3                            Amnah bint Affaan [570]
4  Talib ibn Abi Talib [164] , 'Aqeel ibn Abi Tal...

                                            children  \
0  al-Qasim bin Muhammad [516] , Zaynab bint Muha...
1  Asma' bint Abi Bakr [70] , 'Abdullah bin Abi B...
2  ibn Umar [18] , Hafsa bint Umar [54] , 'Abdur ...
3  'Abdullah bin 'Uthman [571] , 'Abdullah bin 'U...
4  Hassan ibn Ali bin Abi Talib [30] , Hussain ib...

                          birth_date_place              places_of_stay  \
0  53 BH/570 CE (9th Rabi' awwal) (Makkah)              Makkah, Medina
1                    51 BH/573 CE (Makkah)              Makkah, Medina
2                    41 BH/582 CE (Makkah)              Makkah, Medina
3                     47 BH/579 CE (Ta'if)  Makkah, Abyssinia, Medinah
4         23 BH/600 CE (13 Rajab) (Makkah)        Makkah, Medina, kufa

                                    death_date_place      ...       \
0  11 AH/632 CE (12th Rabi' awwal (Medina)[ Natur...      ...
1                   13 AH/634 CE (Medina)[ Natural ]      ...
2                23 AH/645 CE (Medinah)[ Martyred  ]      ...
3                35 AH/655 CE (Medinah)[ Martyred  ]      ...
4     40 AH/661 CE (21 Ramadhan) (Kufa)[ Martyred  ]      ...

                                       students_inds     teachers_inds  \
0  2, 3, 4, 5, 6, 7, 8, 9, 10, 16, 17, 18, 19, 53...               NaN
1  3, 4, 5, 8, 49, 53, 107, 168, 17, 106, 18, 29,...                 1
2  54, 18, 563, 4, 5, 6, 9, 8, 39, 16, 27, 28, 49...              1, 2
3  10582, 10587, 16, 49, 123, 391, 13, 19, 16, 17...           1, 2, 3
4  30, 31, 16, 400, 13, 38, 182, 438, 17, 18, 106...  1, 2, 3, 63, 163

               birth_place                   birth_date birth_date_hijri  \
0  9th Rabi' awwal, Makkah          ['53 BH', '570 CE']             53.0
1                   Makkah          ['51 BH', '573 CE']             51.0
2                   Makkah          ['41 BH', '582 CE']             41.0
3                    Ta'if          ['47 BH', '579 CE']             47.0
4         13 Rajab, Makkah  ['23 BH', '600 CE', '13 R']             23.0

  birth_date_gregorian death_date_hijri death_date_gregorian  \
0                570.0             11.0                632.0
1                573.0             13.0                634.0
2                582.0             23.0                645.0
3                579.0             35.0                655.0
4                600.0             40.0                661.0

                death_place  death_reason
0  12th Rabi' awwal (Medina       Natural
1                    Medina       Natural
2                   Medinah      Martyred
3                   Medinah      Martyred
4         21 Ramadhan, Kufa      Martyred

[5 rows x 25 columns]

Only 5 columns have numbers/dates.

In [9]:
df.describe()

,scholar_indx,birth_date_hijri,birth_date_gregorian,death_date_hijri,death_date_gregorian
count,24326.000000,386.000000,106.000000,3951.000000,554.000000
mean,17951.338033,86.220207,646.132075,149.267780,655.476534
std,11268.991643,62.357667,75.069374,86.999975,69.777199
min,1.000000,1.000000,497.000000,0.000000,23.000000
25%,8409.250000,30.000000,594.000000,80.000000,626.000000
50%,17007.500000,80.000000,624.500000,155.000000,636.000000
75%,27427.750000,133.000000,690.250000,228.000000,670.000000
max,40023.000000,270.000000,839.000000,416.000000,923.000000

**PART 1

* What does your data contain and what is its background? 

* Where does it come from? Why is it interesting or significant? 
* Conduct summary statistics and produce visualizations for the particular variables from the dataset that you will use.

* What variables does your data contain and what distributions do you think they have? 

* Does the data bear on the preliminary questions you wrote down? 

* What new questions might you answer? How does the data look when you plot it out?

**PART 2

* Ask three analytic questions and answer each one with a combination of statistics and visualizations. These analytic questions can focus on individuals behaviors or comparisons of the population.

**PART 3

* Propose further research. Lastly, make a proposal for a realistic future research project on this dataset that would use some data science techniques you'd like to learn in the bootcamp. Just like your earlier questions, your research proposal should present one or more clear questions. Then you should describe the techniques you would apply in order to arrive at an answer.